           /*   Estilos para index */

body {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Outfit', sans-serif;
    background-color: #e0dad1;
    color: black;
}

#nombre{
  text-align: justify;
  font-size: 4vw;
}

#descripNombre{
  text-align: justify;
  font-size: 2vw;
}

.fila{
    border-radius: 15px;
}  


.columna{
    background-color: white;

}

.columna-a{
    
    background-color: #ccc;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.izquierda{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.derecha{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#foto-principal{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 75%;
        height: auto;
        border: 5px solid black;
        border-radius: 25px;
        
}

.slider {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

   }
    
   .slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: slider 12.5s infinite;
   }
    
   .slider .slide:nth-child(1) {
      background-image: url('https://res.cloudinary.com/dknd0c4bw/image/upload/v1677608348/imagenes/casa6cp_bassif.jpg');
      animation-delay: 0s;
   }
   
   .slider .slide:nth-child(2) {
      background-image: url('https://res.cloudinary.com/dknd0c4bw/image/upload/v1677608401/imagenes/torres_twyuj9.jpg');
      animation-delay: -2.5s;
   }
   
   .slider .slide:nth-child(3) {
      background-image: url('https://res.cloudinary.com/dknd0c4bw/image/upload/v1677608366/imagenes/hosp_mzhonk.jpg');
      animation-delay: -5s;
   }
   
   .slider .slide:nth-child(4) {
      background-image: url('https://res.cloudinary.com/dknd0c4bw/image/upload/v1677608383/imagenes/resto_qjcjkq.jpg');
      animation-delay: -7.5s;
   }
   
   .slider .slide:nth-child(5) {
      background-image: url('https://res.cloudinary.com/dknd0c4bw/image/upload/v1677608330/imagenes/casa5cp_p7rgsi.jpg');
      animation-delay: -10s;
   }
   
   @keyframes slider {
    0%, 16%, 100% {
      transform: translateX(0);
      animation-timing-function: ease;
    }
    20% {
      transform: translateX(-100%);
      animation-timing-function: step-end;
    }
    96% {
      transform: translateX(100%);
      animation-timing-function: ease;
    }
   }



                    /*    Estilos para referencias    */

.card{
    
    border:none;
}

.user-content p{
    margin-top:5px;
    font-size:12px;
}


.ratings i{
    color:blue;
}

.botonContacto{
    color:black;
    font-weight: bold;
    border-radius: 15px;
    background-color: white;
    border-color: blue;    
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* ingreso datos */
  .form-container input[type=text], .form-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /*   */
  .form-container input[type=text]:focus, .form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* btn enviar */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    margin-top:10px;
    opacity: 0.8;
  }
  
  /* boton cerrar */
  .form-container .cerrar {
    background-color: red;
  }

                    /*       Estilos para trabajos realizados       */

  * {
    box-sizing: border-box;
    
  }
  
  body {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Outfit', sans-serif;
    background-color: #f1f1f1;
    padding: 20px;
    
  }
  
  
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Outfit', sans-serif;
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  
 
  .row,
  .row > .column {
    padding: 8px;
  }
  
  
  .column {
    float: left;
    width: 33.33%;
    display: none; /* ocultas por default */
    
  }
  .h4{
    font-size: 2vw;
  }
  .p{
    font-size: 1vw;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
 
  .content {
    background-color: rgb(216, 208, 208);
    padding: 10px;
  }
  
  /* agrega clase show a seleccionados */
  .show {
    display: block;
  }
  
  /* estilo de los botones */
  .btn {
        border: none;
    outline: none;
    padding: 12px 16px;
    margin: 8px;
    background-color: rgb(178, 193, 212);
    cursor: pointer;
  }
  

  .btn:hover {
    background-color: #ddd;
  }
  
  
  .btn.active {
    background-color: #666;
     color: white;
  }


                        /*      Estilos para contacto   */    

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .imagenMapa{
    width: 100%;
    height: auto;
  }
